:root{
    --cor-primaria: #6527BE;
    --cor-secundaria: #6517BB;
    --cor-terciaria: #ffffff;
    --cor-quarternaria: #81dacb;
    --cor-fundo: #3571FF;
    }

html{
    scroll-behavior: smooth;/* comportamento-da-rolagem: Suave*/
}

body {
   
    margin: 20px 50px;
    text-align: justify;
    background-color: #E7B10A;
    
    /*margin se alinha no sentido horario */
}

.titulo-de-pagina{
    color: var(--cor-fundo);
    line-height: 2;
    font-weight: hold;
    font-size: 22;
}

.titulo-de-artigo {
    color: var( --cor-terciaria);
    line-height: 2;
    font-weight: hold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-secao{
    color: var(--cor-quarternaria);
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-artigo{
    color: var(--cor-primaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 10px;
   
}

p {
 color: rgb(6, 19, 32);
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color: #8a2be2;
    padding: 20px;
}

article {
    border: 4px solid #000;
    padding: 20px;
    margin: 20px 0;
     border-radius: 24px 0 24px 0;
}